<div>

  <div class="d-flex justify-content-between">
    <h4>Form customer</h4>
    <a href="#" [routerLink]="['/person/index']" class="btn btn-primary">Back</a>
  </div>

  <hr />

  {{ f.name.errors | json }}
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <label for="title">Name:</label>
        <input formControlName="name" id="name" type="text" class="form-control"
          [ngClass]="{'is-invalid': isFieldInvalid(f.name), 'is-valid':f.name.valid}">
        <div *ngIf="isFieldInvalid(f.name)" class="invalid-feedback">
          <div *ngIf="f.name.errors?.required">*Name is required.</div>
          <div *ngIf="f.name.errors?.pattern">*The name must only contain letters.</div>
          <div *ngIf="f.name.errors?.minlength">
            *Ao menos {{ f.name.errors?.minlength?.requiredLength }} caracteres.
            {{ f.name.errors?.minlength?.actualLength }} no momento
          </div>
          <div *ngIf="f.name.errors?.maxlength">*No máximo  deve ter caracteres</div>
        </div>
        <div *ngIf="f.name.valid" class="valid-feedback">Isto parece bom</div>
      </div>

      <div class="col-sm-12 col-md-4">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="text" class="form-control"
          [ngClass]="{'is-invalid': isFieldInvalid(f.email), 'is-valid':f.email.valid}">
        <div *ngIf="isFieldInvalid(f.email)" class="invalid-feedback">
          <div *ngIf="f.email.errors?.required">*Email is required.</div>
          <div *ngIf="f.email.errors?.email">*The email must be a valid email address.</div>
        </div>
         <div *ngIf="f.name.valid" class="valid-feedback">Isto parece bom</div>
      </div>

      <div class="col-sm-12 col-md-4">
        <label for="phone">phone:</label>
        <input id="phone" formControlName="phone" type="text" class="form-control"
          [ngClass]="{'is-invalid': isFieldInvalid(f.phone), 'is-valid':f.phone.valid}">
        <div *ngIf="isFieldInvalid(f.phone)" class="invalid-feedback">
          <div *ngIf="f.phone.errors?.required">*phone is required.</div>
          <div *ngIf="f.phone.errors?.pattern">*The phone must be a valid phone address.</div>
        </div>
        <div *ngIf="f.name.valid" class="valid-feedback">Isto parece bom</div>
      </div>

    </div>
    <br>
    <br>
    <button class="btn btn-primary" *ngIf="isFormValid()" type="submit">Submit</button>
  </form>
</div>
