<section>
  <div class="d-flex justify-content-between">
    <h4>List person</h4>
    <a [routerLink]="['/person/create']" routerLinkActive="router-link-active" class="btn btn-success">Create New
      Person</a>
  </div>

  <br />
  <!-- Filtros -->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <input type="text" class="form-control" [(ngModel)]="filters.name" placeholder="Nome">
    </div>
    <div class="col-sm-12 col-md-3">
      <input type="text" class="form-control" [(ngModel)]="filters.email" placeholder="Email">
    </div>
    <div class="col-sm-12 col-md-3">
      <input type="text" class="form-control" [(ngModel)]="filters.phone" placeholder="Telefone">
    </div>
    <div class="col-sm-12 col-md-2">
      <button class="btn btn-secondary" (click)="clearFilters()">Limpar Filtros</button>
    </div>
  </div>
  <br>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let person of applyFilters() | paginate: paginationConfig">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.email }}</td>
      <td>{{ person.phone }}</td>
      <td>
        <a href="#" [routerLink]="['/person/edit', person.id]" class="btn btn-secondary">Edit</a>
        <button class="btn btn-danger" (click)="deletePerson(person.id)">Deletar</button>
      </td>
    </tr>
  </table>

  <div class="pagination-container">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>

</section>
