<section>
  <div class="d-flex justify-content-between">
    <h4>List person</h4>
    <a [routerLink]="['/person/create']" routerLinkActive="router-link-active" class="btn btn-success">Create New
      Person</a>
  </div>

  <br />
  <!-- Filtros -->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <input type="text" class="form-control" [(ngModel)]="filters.name" placeholder="Nome">
    </div>
    <div class="col-sm-12 col-md-3">
      <input type="text" class="form-control" [(ngModel)]="filters.email" placeholder="Email">
    </div>
    <div class="col-sm-12 col-md-3">
      <input type="text" class="form-control" [(ngModel)]="filters.phone" placeholder="Telefone">
    </div>
    <div class="col-sm-12 col-md-2">
      <button class="btn btn-secondary" (click)="clearFilters()">Limpar Filtros</button>
    </div>
  </div>
  <br>

  <table class="table table-striped">
    <thead class="table-light shadow py-5">
      <th (click)="sortByColumn('id')">
        #ID
        <app-sort-icon [isAscending]="sortedColumn === 'id' && isAscending"></app-sort-icon>
      </th>
      <th (click)="sortByColumn('name')">
        Name
        <app-sort-icon [isAscending]="sortedColumn === 'name' && isAscending"></app-sort-icon>
      </th>
      <th (click)="sortByColumn('email')">
        Email
        <app-sort-icon [isAscending]="sortedColumn === 'email' && isAscending"></app-sort-icon>
      </th>
      <th (click)="sortByColumn('phone')">
        Phone
        <app-sort-icon [isAscending]="sortedColumn === 'phone' && isAscending"></app-sort-icon>
      </th>
      <th width="220px">Action</th>
    </thead>

    <tbody>
      <tr *ngFor="let person of applyFilters() | paginate: paginationConfig">
        <td>{{ person.id }}</td>
        <td>{{ person.name }} </td>
        <td>{{ person.email }}</td>
        <td>{{ person.phone }}</td>
        <td class="d-flex gap-2">
          <a href="#" [routerLink]="['/person/edit', person.id]" class="btn btn-warning bg-warning">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <button class="btn btn-sm bg-danger" (click)="deletePerson(person.id)">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-container">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>

</section>
