<div class="container">
  <div class="row">

    <div class="d-flex flex-row-reverse mt-2">
      <a href="#" class="btn btn-sm btn-primary" [routerLink]="['/user/list']">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-arrow-left">
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
        Voltar
      </a>
    </div>


    <form class="row g-3" [formGroup]="form">
      <div class="col">
        <label for="name" class="form-label">Name</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Your Name">
        <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="alert alert-danger">
          <div *ngIf="form.get('name')?.errors">Preencha o nome</div>
        </div>
      </div>

      <div class="col">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Your Best Email">
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="alert alert-danger">
          <div *ngIf="form.get('email')?.errors">Preencha o Email</div>
        </div>
      </div>

      <div class="col">
        <label for="tipo_user" class="form-label">Tipo User</label>
        <select name="tipo_user" formControlName="tipo_user" #tipo_user id="tipo_user" class="form-select">
          <option value="" selected disabled>Selecione o tipo</option>
          <option value="1">Admin</option>
          <option value="2">Comum</option>
        </select>

        <div class="alert alert-danger" *ngIf="form.get('tipo_user')?.invalid && (form.get('tipo_user')?.touched) ">
          <div>Este campo é obrigatório</div>
        </div>
      </div>


      <div class="col-12">
        <button type="submit" #submitFormCreate (click)="submit();submitFormCreate.disabled = true"
          [disabled]="!form.valid" class="btn btn-primary">Sign in</button>
      </div>

    </form>
  </div>
</div>
