<section>

  <endereco-search (emitSearch)="getSearch($event)"></endereco-search>

  <div class="d-flex justify-content-between">
    <h4>List Endereco</h4>
    <a class="btn btn-success btn-sm" routerLink="/endereco/create">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-plus">
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <line x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
      Novo endereço</a>
  </div>

  <br>

<hr>

  <div class="container">
    <div class="row mb-3 shadow-sm p-3 mb-2 bg-light rounded">
      <div class="col-1">
        ID
      </div>
      <div class="col">
        Logradouro
      </div>
      <div class="col">
        Tipo
      </div>

      <div class="col">
        Cidade
      </div>

      <div class="col">
        Estado
      </div>

      <div class="col">
        Ações
      </div>
    </div>
  </div>

  <div class="card mb-2" *ngFor="let endereco of enderecos as list">
    <div class="card-body card-row">
      <div class="row">
        <div class="col-1">
          {{ endereco.id }}
        </div>
        <div class="col">
          {{ endereco.logradouro }}
        </div>
        <div class="col">
          {{ endereco.tipo }}
        </div>

        <div class="col">
          {{ endereco.cidade }}
        </div>

        <div class="col">
          <div [ngSwitch]="endereco.estado">
            <div *ngSwitchCase="1"> MS </div>
            <div *ngSwitchCase="2"> MT </div>
            <div *ngSwitchCase="3"> SP </div>
          </div>
        </div>



        <div class="col">
          <a href="#" [routerLink]="['/endereco/edit/', endereco.id]">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-edit-2">
              <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
            </svg>
          </a>
          <a (click)="delete(endereco.id)" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-trash">
              <polyline points="3 6 5 6 21 6"></polyline>
              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </div>




</section>
