<div class="card">
  <div class="card-header">
    Featured
  </div>

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h4>Form customer</h4>
      <a href="#" routerLink="/person/index" class="btn btn-primary">Back</a>
    </div>

    <hr />

    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <label for="title">Name:</label>
          <input formControlName="name" #name minlength="5" id="name" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
            <div *ngIf="form.get('name')?.errors?.['required']">*Name is required.</div>
            <div *ngIf="name.minLength">*Minimo de 5 caracteres.</div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="email">Email:</label>
          <input formControlName="email" id="email" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            <div *ngIf="form.get('email')?.errors?.['required'] ">*Email is required.</div>
            <div *ngIf="form.get('email')?.errors?.['email']">*The email must be a valid email address.</div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="phone">Phone:</label>
          <input formControlName="phone" id="phone" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
            <div *ngIf="form.get('phone')?.errors">*Phone is required.</div>
            <div *ngIf="form.get('phone')?.errors?.['pattern'] ">*The phone must only contain numbers.</div>
          </div>
        </div>
      </div>
      <br>


      <p>
        {{ form.get('name')?.errors | json }}
        {{ form.get('name')?.touched | json }}
        {{ form.get('name')?.dirty | json }}
      </p>
      <button class="btn btn-primary" (click)="submit();formSubmitCreate.disabled = true" #formSubmitCreate [disabled]="!form.valid" type="submit">Submit</button>
    </form>

  </div>
</div>
